.card_image {
	max-width: 100%;
}

.boardContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	background-color: rgb(202, 167, 224);
	width: 60%;
	margin-left: 1rem;
	border: 2px solid black;
	grid-gap: 50 rem;
}

.containerItems {
	padding: 0.5rem;
}

/* inner grid - each character card */
.board {
	border: 3px solid white;
}

h4 {
	text-align: center;
}

.entireGame{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* #playerContainer{
	display: inline-flex;
	flex-wrap: wrap;

} */

#output-card{
	border: 2px black dashed;	
	width: 300px;
	text-align: center;
}

.chosen-image{
	max-width: 100%;

}
