.game_title{
	background-color: #A4CC98;
	margin-top: 0;
	height: 100px;	
}

.game_title_text{
	padding: 25px;
}
.card_image {
	max-width: 100%;
}

.boardContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	background-color: rgb(202, 167, 224);
	width: 80%;
	margin-left: 1rem;
	border: 2px solid black;
	grid-gap: 50 rem;
	text-transform: capitalize;
}

.miniBoardContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	background-color: rgb(202, 167, 224);
	width: 90%;
	/* margin-left: 1rem; */
	border: 2px solid black;
	grid-gap: 50 rem;
}
p{
	font-size: xx-small;
}

.mini-eliminated {
	border-color: red;
	background-color: red;
}

.containerItems {
	padding: 0.5rem;
}

/* inner grid - each character card */
.board {
	border: 3px solid white;
}

h4 {
	text-align: center;
	margin: 10px 0;
}

.entireGame {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-right: 65px;
}

#playerContainer{
	display: flex;
	/* flex-wrap: nowrap; */
	flex-direction: column;
	width: 25%;
    margin-left: 5%;
	background-color: #AAAAAA;
	padding: 15px;
	border-radius: 12px;
	height: 600px;
	/* border: 2px red dashed; */
}

#topSection{
	/* display: inline-flex; */
	/* flex-wrap: wrap; */
	display: flex;
	height: 10px;

}
#quesionButton{
 text-align: center;
}

.output-card {
	/* border: 2px black dashed; */
	width: 100%;
	height: 350px;
	text-align: center;
	text-transform: capitalize;
	height: 460px;
	/* background-color: rgb(202, 167, 224); */
}

.anon {
	/* border: 2px black dashed;  */
	width: 100%;
	height: 400px;
	text-align: center;
}

.chosen-image {
	max-width: 100%;
}

h1 {
	text-align: center;
	margin: 0;
}

h3 {
	margin: 1.1rem;
	font-size: larger;
}

.font {
	font-size: 1.5rem;
}

#questionForm{
	/* border: 2px black dashed; */
	text-align: center;
	
}

.score{
	border: 2px black dashed;
    height: fit-content;
	width: 25%;
    margin-left: 5%;
}
.buttons{
	text-align: center;
	border-radius: 12px;
	background-color: #A4CC98;
	border: none;
	padding: 10px;
	font-size: large;
	margin: 1%;

}
.dropdown {
	display: none;
}

.questions {
	display: flex;
	list-style: none;
	text-align: center;
}

.questionOptions {
	position: relative;
	font-size: 14px;
}

.questionOptions h5 {
	display: block;
	font-size: inherit;
	color: inherit;
	text-decoration: none;
}

.questionOptions button {
	color: inherit;
	font-size: inherit;
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: 100%;
}

.questionOptions h5,
.questionOptions button {
	text-align: left;
	padding: 0.7rem 1rem;
	width: 200px;
}

.questionOptions a:hover,
.questionOptions button:hover {
	background-color: #f2f2f2;
}

.arrow::after {
	content: "";
	display: inline-block;
	margin-left: 0.28em;
	vertical-align: 0.09em;
	border-top: 0.42em solid;
	border-right: 0.32em solid transparent;
	border-left: 0.32em solid transparent;
}

.dropdown {
	position: absolute;
	right: 0;
	left: auto;
	box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
		0 4px 6px -2px rgba(71, 63, 79, 0.16);
	font-size: 0.875rem;
	z-index: 9999;
	min-width: 10rem;
	padding: 0.5rem 0;
	list-style: none;
	background-color: #fff;
	border-radius: 0.5rem;
	display: none;
}

.dropdown.show {
	display: block;
}

.eliminated {
	background-color: red;
}

.dropdown .dropdown-submenu {
	position: absolute;
	left: 100%;
	top: -7px;
}
